
* {
  box-sizing: border-box;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  padding: 20px 0;
  width: 100%;
}

header div {
  background: black;
  color: white;
  margin-left: 150px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 25px 0 10px 0;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
}

p {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

.flex {
  display: flex;
}

nav {
  width: 450px;
  margin: 30px;
}

nav div {
  float: right;
}

a {
  border-bottom: 1px solid #eee;
  color: black;
  font-size: 14px;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  width: 300px;
}

.active, a:hover {
  color: white;
  background: black;
}

ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.subheader {
  line-height: 40px;
  font-size: 32px;
  margin: 15px 0 20px 0;
}


.preamble, strong {
  font-size: 14px;
  line-height: 20px;
}

.contact-info {
  width: 350px;

}

.contact-image {
  max-width: 400px;
}

.main {
  padding: 0 100px;
  width: 100%;
}

@media (max-width: 1000px) {
  .main {
    padding: 0 20px;
    width: 100%;
  }

  header div {
    background: black;
    color: white;
    margin-left: 40px;
  }
}

@media (max-width: 800px) {
  .main {
    display: block;
  }

  nav {
    margin: 20px 0 0 0;
    width: 100%;
  }

  nav div {
    float: none;
    width: 100%;
  }

  a {
    display: inline-block;
    width: 145px;
  }

}

@media (max-width: 620px) {
  nav {
    display: none;
  }
}

@media (max-width: 420px) {
  header div {
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
    width: 180px;
  }

  .flex {
    display: block;
  }

  .contact-info {
    width: 100%;
  }

  .contact-image {
    width: 100%;
  }
}